@import "./_settings";

$slider-size: 20px;
$slider-padding: 3px;

#oil-preference-center {
  overflow: hidden !important;

  .as-oil-back-button {
    display: none !important;
  }
}

#as-oil-cpc {
  &.as-oil-content-overlay {
    @include media('<=849px') {
      padding: 2em 1em !important;
    }
  }
}

.as-oil.cleanslate {

  .as-oil-cpc__status {
    position: absolute !important;
    top: 5px !important;
    left: -($slider-size + 5) !important;
    color: $btn-primary !important;
    font-weight: 500 !important;
  }

  .as-oil-cpc__slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: $slider-background-grey !important;
    transition: .4s !important;
    border-radius: 17px !important;

    &:before {
      position: absolute !important;
      content: "" !important;
      height: $slider-size !important;
      width: $slider-size !important;
      left: $slider-padding !important;
      bottom: $slider-padding !important;
      background-color: $slider-background-circle !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08) !important;
      transition: .4s !important;
      border-radius: 50% !important;
    }
  }

  .as-oil-cpc__middle {
    flex: 1 1 auto !important;
    padding: 24px !important;
    display: inline-block !important;

    overflow: scroll !important;
    max-height: 500px !important; /* The Fallback */
    height: 30vh !important;
    width: 100% !important;

    @include media('<=phone') {
      padding: 0 !important;
    }
  }

  .checkmark {
    display: inline-block !important;
    position: absolute !important;
  }

  .checkmark-on {
    &::after {
      border: solid #000 !important;
      border-color: rgba(52, 140, 32, 0.6) !important;
      border-width: 0 2px 2px 0 !important;
      content: '' !important;
      display: block !important;
      height: 12px !important;
      transform: rotate(45deg) !important;
      width: 6px !important;
    }
  }

  .checkmark-off {
    height: 14px !important;
    width: 14px !important;

    &::before,
    &::after {
      background: rgba(255, 0, 0, 0.6) !important;
      content: '' !important;
      height: 2px !important;
      left: 0 !important;
      margin-left: -3px !important;
      margin-top: 3px !important;
      position: absolute !important;
      top: 50% !important;
      width: 100% !important;
    }

    &::before {
      transform: rotate(45deg) !important;
    }

    &::after {
      transform: rotate(-45deg) !important;
    }
  }

  .as-oil-center {
    text-align: center !important;
  }

  .as-oil-margin-top {
    margin-top: 1em !important;
  }
}

@mixin space-out($min, $max) {
  @for $i from $min through $max {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ & {
      width: 1 / $i * 100% !important;
    }
  }
}
