@import "./_cpc_global";

.as-oil.cleanslate {

  .as-oil-cpc-wrapper {

    button {
      cursor: pointer !important;
    }

    .as-oil-l-buttons-light {
      @include media('>phone') {
        float: right !important;
      }

      @include media('<=phone') {
        padding: 8px !important;
      }
    }

    .as-oil-l-buttons-dark {
      @include media('>phone') {
        float: right !important;
      }

      @include media('<=phone') {
        background: $background-color-dark !important;
        padding: 8px !important;
      }
    }

    .as-oil__heading,
    .as-oil__intro-txt {
      margin-left: 200px !important;
      display: block !important;
      max-width: 100% !important;

      @include media('<=929px') {
        margin-left: 0 !important;
        margin-right: 20px !important;
        text-align: center !important;
      }
    }
  }

  .as-oil-cpc__content {
    display: flex !important;
    @include media('<=phone') {
      display: block !important;
    }
  }

  .as-oil-cpc__left {
    flex: 0 0 200px !important;
    max-width: 200px !important;
    display: inline-block !important;
    text-align: right !important;
    text-transform: uppercase !important;
    font-size: 1.1em !important;
    margin-bottom: -25px !important;
    border-right: 1px solid #ccc !important;

    @include media('<=849px') {
      display: none !important;
    }

    @include media('<=929px') {
      flex: 0 !important;
    }

    &:first-child {
      padding-top: 40px !important;
    }

    a {
      text-decoration: none !important;
    }
  }

  .as-oil-cpc__right {
    flex: 0 0 200px !important;
    display: inline-block !important;
    align-self: flex-end !important;

    @include media('<=phone') {
      flex: 0 !important;
      display: block !important;
    }

  }

  .as-oil-cpc__row-btn-all {
    text-align: right !important;

    span {
      @include media('<=phone') {
        display: inline-block !important;
        width: 49% !important;
        text-align: center !important;
        padding: .7em 1em !important;
      }
    }
  }

  .as-oil-cpc__row-title {
    font-size: 1.2em !important;
    font-weight: 600 !important;
    margin: 20px 8px !important;
  }

  .as-oil-cpc__category-link {
    padding: 6px 12px !important;
    display: block !important;
    border-right: 2px solid rgba(255, 255, 255, 0) !important;
  }

  .as-oil-cpc__category-link--active {
    border-right: 2px solid #3f7ddf !important;
  }

  .as-oil-cpc__purpose {
    border: 1px solid #eaeaea !important;
    border-radius: 5px !important;
    padding: 20px !important;
    margin: 16px 0 !important;
  }

  .as-oil-cpc__purpose-container {
    position: relative !important;
  }

  .as-oil-cpc__purpose-header {
    font-size: 1em !important;
    font-weight: 500 !important;
    margin: 0 75px 30px 0 !important;
  }

  .as-oil-cpc__purpose-text {
    font-size: 0.9em !important;
    color: lighten($text-color-primary-light, 30%) !important;
  }

  .dark {
    .as-oil-cpc__purpose-text {
      color: darken($text-color-primary-dark, 30%) !important;
    }
  }

  .light {
    .as-oil-cpc__left {
      a {
        color: $text-color-primary-light !important;
      }
    }
  }

  .as-oil-cpc__switch {
    position: absolute !important;
    display: inline-block !important;
    width: 50px !important;
    height: 26px !important;
    right: 0 !important;
    top: 0 !important;
    float: right !important;

    input {
      display: none !important;

      & + .as-oil-cpc__status:after {
        content: "Off" !important;
      }

      &:checked ~ .as-oil-cpc__slider {
        background-color: $btn-primary !important;
      }

      &:checked ~ .as-oil-cpc__status:after {
        content: "On" !important;
      }

      &:focus ~ .as-oil-cpc__slider {
        box-shadow: 0 0 1px $btn-primary !important;
      }

      &:checked ~ .as-oil-cpc__slider:before {
        transform: translateX($slider-size) !important;
        background-color: darken($slider-background-circle, 30%) !important;
      }
    }
  }
}

//dark theme adjustments
.as-oil.cleanslate {
  &.dark {
    .as-oil-cpc__left a,
    .as-oil-back-button__text {
      color: $text-color-primary-dark !important;
    }
    .as-oil-cpc__purpose {
      background-color: $cpc-background-dark !important;
    }
  }
}
