body.admin-bar .cleanslate .components-modal__frame {
  @media (max-width: 599px) {
    top: 46px !important;
  }
}

.cleanslate {

  /* CMP Settings */
  .wp-cmp-settings {

    font-size: 13px !important;
    line-height: 20px !important;
    color: #1a1a1a !important;

    &__row-title {
      font-weight: bold !important;
      font-size: 16px !important;
      line-height: 18px !important;
      margin-top: 20px !important;
    }

    &__all-btns {
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      margin-top: 20px ! important;

      .wp-cmp-settings__row-title {
        margin-top: 0 !important;
      }
    }

  }

  .wp-cmp__purpose {

    padding: 16px 0 !important;
    border-bottom: 1px solid #E2E4E7 !important;

    &-header {
      font-weight: bold !important;
      margin-bottom: 8px !important;
    }

    &-text {
      padding-right: 50px !important;
    }

    &-toggle {
      float: right !important;
    }
  }

  .wp-cmp__third-party-list {
    margin-top: 20px !important;
  }

  /* Modal */

  .components-modal__screen-overlay {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 100000 !important;
    animation: edit-post__fade-in-animation 0.2s ease-out 0s !important;
    animation-fill-mode: forwards !important;
  }

  @media (prefers-reduced-motion: reduce) {
    .components-modal__screen-overlay {
      animation-duration: 1ms !important;
    }
  }

  .components-modal__frame {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    border: 1px solid #e2e4e7 !important;
    background: #fff !important;
    box-shadow: 0 3px 30px rgba(25, 30, 35, 0.2) !important;
    overflow: auto !important;
  }

  @media (min-width: 600px) {
    .components-modal__frame {
      top: 50% !important;
      right: auto !important;
      bottom: auto !important;
      left: 50% !important;
      min-width: 360px !important;
      //max-width: calc(100% - 16px - 16px) !important;
      max-width: 580px !important;
      max-height: calc(100% - 56px - 56px) !important;
      transform: translate(-50%, -50%) !important;
      animation: components-modal__appear-animation 0.1s ease-out !important;
      animation-fill-mode: forwards !important;
    }
  }
  @media (min-width: 600px) and (prefers-reduced-motion: reduce) {
    .components-modal__frame {
      animation-duration: 1ms !important;
    }
  }

  @keyframes components-modal__appear-animation {
    from {
      margin-top: 32px !important;
    }
    to {
      margin-top: 0 !important;
    }
  }

  .components-modal__header {
    box-sizing: border-box !important;
    border-bottom: 1px solid #e2e4e7 !important;
    padding: 0 16px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    background: #fff !important;
    align-items: center !important;
    height: 56px !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
    margin: 0 -16px 16px !important;
  }

  @supports (-ms-ime-align: auto) {
    .components-modal__header {
      position: fixed !important;
      width: 100% !important;
    }
  }

  .components-modal__header .components-modal__header-heading {
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .components-modal__header h1 {
    line-height: 1 !important;
    margin: 0 !important;
  }

  .components-modal__header-heading-container {
    align-items: center !important;
    flex-grow: 1 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: left !important;
  }

  .components-modal__header-icon-container {
    display: inline-block !important;
  }

  .components-modal__header-icon-container svg {
    max-width: 36px !important;
    max-height: 36px !important;
    padding: 8px !important;
  }

  .components-modal__content {
    box-sizing: border-box !important;
    height: 100% !important;
    padding: 0 16px !important;
  }

  @supports (-ms-ime-align: auto) {
    .components-modal__content {
      padding-top: 56px !important;
    }
  }

  .components-modal__footer {
    box-sizing: border-box !important;
    border-top: 1px solid #e2e4e7 !important;
    padding: 0 16px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    background: #fff !important;
    align-items: center !important;
    height: 56px !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    bottom: 0 !important;
    z-index: 10 !important;
    margin: 0 -16px !important;
  }

  @supports (-ms-ime-align: auto) {
    .components-modal__footer {
      position: fixed !important;
      width: 100% !important;
    }
  }

  /* Form Toggle */
  .components-form-toggle {
    position: relative !important;
    display: inline-block !important;
  }

  .components-form-toggle .components-form-toggle__on,
  .components-form-toggle .components-form-toggle__off {
    position: absolute !important;
    top: 6px !important;
    box-sizing: border-box !important;
    width: 2px !important;
    height: 6px !important;
    overflow: hidden !important;
  }

  .components-form-toggle.is-checked .components-form-toggle__on {
    display: block !important;
  }

  .components-form-toggle.is-checked .components-form-toggle__off {
    display: none !important;
  }

  .components-form-toggle .components-form-toggle__off {
    color: #6c7781 !important;
    fill: currentColor !important;
    right: 6px !important;
    width: 6px !important;
  }

  .components-form-toggle .components-form-toggle__on {
    left: 8px !important;
    display: none !important;
  }

  .components-form-toggle .components-form-toggle__track {
    content: "" !important;
    display: inline-block !important;
    box-sizing: border-box !important;
    vertical-align: top !important;
    background-color: #fff !important;
    border: 2px solid #6c7781 !important;
    width: 36px !important;
    height: 18px !important;
    border-radius: 9px !important;
    transition: 0.2s background ease !important;
  }

  @media (prefers-reduced-motion: reduce) {
    .components-form-toggle .components-form-toggle__track {
      transition-duration: 0s !important;
    }
  }

  .components-form-toggle .components-form-toggle__thumb {
    display: block !important;
    position: absolute !important;
    box-sizing: border-box !important;
    top: 4px !important;
    left: 4px !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    transition: 0.1s transform ease !important;
    background-color: #6c7781 !important;
    border: 5px solid #6c7781 !important;
  }

  @media (prefers-reduced-motion: reduce) {
    .components-form-toggle .components-form-toggle__thumb {
      transition-duration: 0s !important;
    }
  }

  .components-form-toggle:hover .components-form-toggle__track {
    border: 2px solid #555d66 !important;
  }

  .components-form-toggle:hover .components-form-toggle__thumb {
    background-color: #555d66 !important;
    border: 5px solid #6c7781 !important;
  }

  .components-form-toggle:hover .components-form-toggle__off {
    color: #555d66 !important;
  }

  .components-form-toggle.is-checked .components-form-toggle__track {
    background-color: #11a0d2 !important;
    border: 2px solid #11a0d2 !important;
    border: 9px solid transparent !important;
  }

  .components-form-toggle__input:focus + .components-form-toggle__track {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #6c7781 !important;
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }

  .components-form-toggle.is-checked .components-form-toggle__thumb {
    background-color: #fff !important;
    border-width: 0 !important;
    transform: translateX(18px) !important;
  }

  .components-form-toggle.is-checked::before {
    background-color: #11a0d2 !important;
    border: 2px solid #11a0d2 !important;
  }

  .components-disabled .components-form-toggle {
    opacity: 0.3 !important;
  }

  .components-form-toggle input.components-form-toggle__input[type="checkbox"] {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 1 !important;
    border: none !important;
  }

  .components-form-toggle input.components-form-toggle__input[type="checkbox"]:checked {
    background: none !important;
  }

  .components-form-toggle input.components-form-toggle__input[type="checkbox"]::before {
    content: "" !important;
  }

  .components-form-toggle .components-form-toggle__on {
    outline: 1px solid transparent !important;
    outline-offset: -1px !important;
    border: 1px solid #000 !important;
    filter: invert(100%) contrast(500%) !important;
  }

  @supports (-ms-high-contrast-adjust: auto) {
    .components-form-toggle .components-form-toggle__on {
      filter: none !important;
      border: 1px solid #fff !important;
    }
  }

  /* Panel */

  .components-panel {
    background: #fff !important;
    border: 1px solid #e2e4e7 !important;
  }

  .components-panel > .components-panel__header:first-child,
  .components-panel > .components-panel__body:first-child {
    margin-top: -1px !important;
  }

  .components-panel > .components-panel__header:last-child,
  .components-panel > .components-panel__body:last-child {
    border-bottom-width: 0 !important;
  }

  .components-panel + .components-panel {
    margin-top: -1px !important;
  }

  .components-panel__body {
    border-top: 1px solid #e2e4e7 !important;
    border-bottom: 1px solid #e2e4e7 !important;
  }

  .components-panel__body h3 {
    margin: 0 0 0.5em !important;
  }

  .components-panel__body.is-opened {
    padding: 16px !important;
  }

  .components-panel__body > .components-icon-button {
    color: #191e23 !important;
  }

  .components-panel__header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 16px !important;
    height: 50px !important;
    border-top: 1px solid #e2e4e7 !important;
    border-bottom: 1px solid #e2e4e7 !important;
  }

  .components-panel__header h2 {
    margin: 0 !important;
    font-size: inherit !important;
    color: inherit !important;
  }

  .components-panel__body + .components-panel__body,
  .components-panel__body + .components-panel__header,
  .components-panel__header + .components-panel__body,
  .components-panel__header + .components-panel__header {
    margin-top: -1px !important;
  }

  .components-panel__body > .components-panel__body-title {
    display: block !important;
    padding: 0 !important;
    font-size: inherit !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    transition: 0.1s background ease-in-out !important;
  }

  @media (prefers-reduced-motion: reduce) {
    .components-panel__body > .components-panel__body-title {
      transition-duration: 0s !important;
    }
  }

  .components-panel__body.is-opened > .components-panel__body-title {
    margin: -16px !important;
    margin-bottom: 5px !important;
  }

  .components-panel__body > .components-panel__body-title:hover,
  .edit-post-last-revision__panel > .components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
    background: #f3f4f5 !important;
  }

  .components-panel__body-toggle.components-button {
    position: relative !important;
    padding: 15px !important;
    outline: none !important;
    width: 100% !important;
    font-weight: 600 !important;
    text-align: left !important;
    color: #191e23 !important;
    border: none !important;
    box-shadow: none !important;
    transition: 0.1s background ease-in-out !important;

    /* Override Cleanslate */
    box-sizing: border-box !important;
    /* rtl:begin:ignore */
    /* rtl:end:ignore */

    &:active {
      background: none !important;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .components-panel__body-toggle.components-button {
      transition-duration: 0s !important;
    }
  }

  .components-panel__body-toggle.components-button:focus:not(:disabled):not([aria-disabled="true"]) {
    color: #191e23 !important;
    border: none !important;
    box-shadow: none !important;
    outline-offset: -2px !important;
    outline: 1px dotted #555d66 !important;
  }

  .components-panel__body-toggle.components-button .components-panel__arrow {
    position: absolute !important;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    color: #191e23 !important;
    fill: currentColor !important;
    transition: 0.1s color ease-in-out !important;
    cursor: pointer !important;
  }

  .components-panel__body-toggle.components-button .components-panel__arrow-up {
    display: none !important;
  }

  .components-panel__body.is-opened .components-panel__body-toggle.components-button .components-panel__arrow-up {
    display: block !important;
  }

  .components-panel__body.is-opened .components-panel__body-toggle.components-button .components-panel__arrow-down {
    display: none !important;
  }

  @media (prefers-reduced-motion: reduce) {
    .components-panel__body-toggle.components-button .components-panel__arrow {
      transition-duration: 0s !important;
    }
  }

  body.rtl .components-panel__body-toggle.components-button .dashicons-arrow-right {
    transform: scaleX(-1) !important;
    -ms-filter: fliph !important;
    filter: FlipH !important;
    margin-top: -10px !important;
  }

  .components-panel__icon {
    color: #555d66 !important;
    filter: grayscale(1) !important !important;
    margin: -2px 0 -2px 6px !important;
  }

  .components-panel__body-toggle-icon {
    margin-right: -5px !important;
  }

  .components-panel__color-title {
    float: left !important;
    height: 19px !important;
  }

  .components-panel__body.is-opened .components-panel__row {
    display: block !important;
  }

  .components-panel__row {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 20px !important;
    display: none !important;
  }

  .components-panel__row select {
    min-width: 0 !important;
  }

  .components-panel__row label {
    margin-right: 10px !important;
    flex-shrink: 0 !important;
    max-width: 75% !important;
  }

  .components-panel__row:empty, .components-panel__row:first-of-type {
    margin-top: 0 !important;
  }

  .components-panel .circle-picker {
    padding-bottom: 20px !important;
  }

}
