/* Include Cleanslate */
@import "./cleanslate.scss";

.cleanslate {

  /* Banner */

  .wp-cmp-banner {
    position: fixed !important;
    padding: 16px !important;
    bottom: 16px !important;
    left: 16px !important;
    right: 16px !important;
    background: #fff !important;
    z-index: 2147483647 !important;

    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-end !important;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;

    &__heading {
      font-size: 16px !important;
      line-height: 18px !important;
      color: #1a1a1a !important;
    }

    &__intro-txt {
      font-size: 13px !important;
      line-height: 20px !important;
      color: #1a1a1a !important;
    }

    &__buttons {
      display: inline-flex !important;
      align-items: center !important;

      button {
        margin-left: 12px !important;
      }
    }
  }

  /* Buttons */

  .components-button {
    display: inline-flex !important;
    text-decoration: none !important;
    font-size: 13px !important;
    margin: 0 !important;
    border: 0 !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    background: none !important;
    /* Buttons that look like links, for a cross of good semantics with the visual */
    /* Link buttons that are red to indicate destructive behavior. */
  }

  .components-button.is-button {
    padding: 0 10px 1px !important;
    line-height: 26px !important;
    height: 28px !important;
    border-radius: 3px !important;
    white-space: nowrap !important;
    border-width: 1px !important;
    border-style: solid !important;
  }

  .components-button.is-default {
    color: #555 !important;
    border-color: #ccc !important;
    background: #f7f7f7 !important;
    box-shadow: inset 0 -1px 0 #ccc !important;
    vertical-align: top !important;
  }

  .components-button.is-default:hover {
    background: #fafafa !important;
    border-color: #999 !important;
    box-shadow: inset 0 -1px 0 #999 !important;
    color: #23282d !important;
    text-decoration: none !important;
  }

  .components-button.is-default:focus:enabled {
    background: #fafafa !important;
    color: #23282d !important;
    border-color: #999 !important;
    box-shadow: inset 0 -1px 0 #999, 0 0 0 1px #fff, 0 0 0 3px #007cba !important;
    text-decoration: none !important;
  }

  .components-button.is-default:active:enabled {
    background: #eee !important;
    border-color: #999 !important;
    box-shadow: inset 0 1px 0 #999 !important;
  }

  .components-button.is-default:disabled, .components-button.is-default[aria-disabled="true"] {
    color: #a0a5aa !important;
    border-color: #ddd !important;
    background: #f7f7f7 !important;
    box-shadow: none !important;
    text-shadow: 0 1px 0 #fff !important;
    transform: none !important;
    opacity: 1 !important;
  }

  .components-button.is-primary {
    background: rgb(0, 133, 186);
    border-color: rgb(0, 106, 149) rgb(0, 100, 140) rgb(0, 100, 140);
    box-shadow: inset 0 -1px 0 rgb(0, 100, 140);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgb(0, 93, 130), 1px 0 1px rgb(0, 93, 130), 0 1px 1px rgb(0, 93, 130), -1px 0 1px rgb(0, 93, 130);
  }

  .components-button.is-primary:hover, .components-button.is-primary:focus:enabled {
    background: rgb(0, 126, 177);
    border-color: rgb(0, 67, 93);
    color: #fff;
  }

  .components-button.is-primary:hover {
    box-shadow: inset 0 -1px 0 rgb(0, 67, 93);
  }

  .components-button.is-primary:active:enabled {
    background: rgb(0, 106, 149);
    border-color: rgb(0, 67, 93);
    box-shadow: inset 0 1px 0 rgb(0, 67, 93);
    vertical-align: top;
  }

  .components-button.is-primary:disabled, .components-button.is-primary:disabled:active:enabled, .components-button.is-primary[aria-disabled="true"], .components-button.is-primary[aria-disabled="true"]:active:enabled {
    color: rgb(102, 182, 214);
    background: rgb(0, 133, 186);
    border-color: rgb(0, 124, 173);
    box-shadow: none;
    text-shadow: none;
    opacity: 1;
  }

  .components-button.is-primary:disabled.is-button, .components-button.is-primary:disabled.is-button:hover, .components-button.is-primary:disabled:active:enabled, .components-button.is-primary:disabled:active:enabled.is-button, .components-button.is-primary:disabled:active:enabled.is-button:hover, .components-button.is-primary:disabled:active:enabled:active:enabled, .components-button.is-primary[aria-disabled="true"].is-button, .components-button.is-primary[aria-disabled="true"].is-button:hover, .components-button.is-primary[aria-disabled="true"]:active:enabled, .components-button.is-primary[aria-disabled="true"]:active:enabled.is-button, .components-button.is-primary[aria-disabled="true"]:active:enabled.is-button:hover, .components-button.is-primary[aria-disabled="true"]:active:enabled:active:enabled {
    box-shadow: none;
    text-shadow: none;
  }

  .components-button.is-primary:disabled:focus:enabled, .components-button.is-primary:disabled:active:enabled:focus:enabled, .components-button.is-primary[aria-disabled="true"]:focus:enabled, .components-button.is-primary[aria-disabled="true"]:active:enabled:focus:enabled {
    color: rgb(102, 182, 214);
    border-color: rgb(0, 124, 173);
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
  }

  .components-button.is-primary.is-busy, .components-button.is-primary.is-busy:disabled, .components-button.is-primary.is-busy[aria-disabled="true"] {
    color: #fff;
    background-size: 100px 100%;
    /* stylelint-disable */
    background-image: linear-gradient(-45deg, #0085ba 28%, rgb(0, 93, 130) 28%, rgb(0, 93, 130) 72%, #0085ba 72%);
    /* stylelint-enable */
    border-color: rgb(0, 67, 93);
  }

  .components-button.is-link {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: none !important;
    outline: none !important;
    text-align: left !important;
    /* Mimics the default link style in common.css */
    color: #0073aa !important;
    text-decoration: underline !important;
    transition-property: border, background, color !important;
    transition-duration: 0.05s !important;
    transition-timing-function: ease-in-out !important;
  }

  @media (prefers-reduced-motion: reduce) {
    .components-button.is-link {
      transition-duration: 0s !important;
    }
  }

  .components-button.is-link:hover, .components-button.is-link:active {
    color: #00a0d2 !important;
  }

  .components-button.is-link:focus {
    color: #124964 !important;
    box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8) !important;
  }

  .components-button.is-link.is-destructive {
    color: #d94f4f !important;
  }

  .components-button:active {
    color: inherit !important;
  }

  .components-button:disabled, .components-button[aria-disabled="true"] {
    cursor: default !important;
    opacity: 0.3 !important;
  }

  .components-button:focus:not(:disabled) {
    background-color: #fff !important;
    color: #191e23 !important;
    box-shadow: inset 0 0 0 1px #6c7781, inset 0 0 0 2px #fff !important;
    outline: 2px solid transparent !important;
    outline-offset: -2px !important;
  }

  .components-button.is-busy, .components-button.is-default.is-busy, .components-button.is-default.is-busy:disabled, .components-button.is-default.is-busy[aria-disabled="true"] {
    animation: components-button__busy-animation 2500ms infinite linear !important;
    background-size: 100px 100% !important;
    background-image: repeating-linear-gradient(-45deg, #e2e4e7, #fff 11px, #fff 10px, #e2e4e7 20px) !important;
    opacity: 1 !important;
  }

  .components-button.is-large {
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
  }

  .components-button.is-small {
    height: 24px;
    line-height: 22px;
    padding: 0 8px 1px;
    font-size: 11px;
  }

  .components-button.is-tertiary {
    color: #007cba !important;
    padding: 0 10px !important;
    line-height: 26px !important;
    height: 28px !important;
    box-shadow: none !important;
  }

  .components-button.is-tertiary .dashicon {
    display: inline-block !important;
    flex: 0 0 auto !important;
  }

  .components-button.is-tertiary svg {
    fill: currentColor !important;
    outline: none !important;
  }

  .components-button.is-tertiary:active:focus:enabled {
    box-shadow: none !important;
  }

  .components-button.is-tertiary:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
    color: rgb(0, 93, 140) !important;
  }

  .components-button .screen-reader-text {
    height: auto;
  }

  @keyframes components-button__busy-animation {
    0% {
      background-position: 200px 0;
    }
  }
}

