@import "./../../styles/_settings";

/**
 * POI Group list
 */
.as-oil.cleanslate {

  .as-oil-poi-group-list-wrapper {
    @include media('<=phone') {
      min-height: 300px !important;
      z-index: 100 !important;
      padding: 16px 12px !important;
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;
      background-color: #fafafa !important;
      box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, .2) !important;

      .as-oil__heading, .as-oil__intro-txt {
        text-align: left !important;
      }
    }

    .as-oil-poi-group-list {
      overflow: auto !important;
      overflow-y: scroll !important;
      max-height: 200px !important;
    }

    .as-oil-l-buttons-light {
      @include media('>phone') {
        float: right !important;
      }

      @include media('<=phone') {
        background: $background-color-light !important;
        padding: 8px !important;
        bottom: 0 !important;
        left: 0 !important;
      }
    }

    .as-oil-l-buttons-dark {
      @include media('>phone') {
        float: right !important;
      }

      @include media('<=phone') {
        background: $background-color-dark !important;
        padding: 8px !important;
        bottom: 0 !important;
        left: 0 !important;
      }
    }
  }

  //third party cookie
  .as-oil-third-party-list-element {
    border-bottom: 1px #d8d8d8 solid !important;
    padding-bottom: 8px !important;
    margin-bottom: 8px !important;

    .as-oil-third-party-toggle-part {
      margin-left: 16px !important;
    }

    .as-oil-third-party-name {
      font-weight: bold !important;
      cursor: pointer !important;
    }

    .as-oil-third-party-description, .as-oil-third-party-purpose {
      font-size: 12px !important;
    }

    .as-oil-third-party-link {
      color: $background-color-dark !important;
      font-size: 12px !important;
      opacity: .5 !important;
      text-decoration: none !important;

      .dark & {
        color: $text-color-primary-dark !important;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0 !important;
  }
  to {
    opacity: 1
  }
}
